<br/>
<div class="row">
  <div class="offset2 span6">
    <h1> Report </h1>
    <div class="hero-unit">
      <p> Owner's Name: <%= @report.owner_name %></p>
      <p> Owner's Email: <%= @report.owner_email %></p>
      <p> Owner's Phone Number: <%= @report.owner_phone %></p>
      <p> Bike's Brand : <%= @report.brand %></p>
      <p> Bike's Model: <%= @report.owner_name %></p>
      <p> Bike's Serial Number: <%= @report.serial %></p>
    </div>
    <%= link_to 'Go Back', reports_path %>
  </div>
</div>
